.inputBackground{
   font-size: 1rem;
   border-radius: 0.5rem;
   background: var(--gray-500);
}

.inputBackground input{
   border: 0;
   outline: 0;

   width: 100%;
   padding: 1rem;

   background: none;
   color: var(--gray-300);
}

.inputBackground:focus-within{
   outline: 1px solid var(--purple-dark);
}

.inputBackground:focus-within input{
   color: var(--gray-100);
}