.container{
   padding: 1rem;
   border-radius: 0.5rem;
   background: var(--gray-500);

   gap: 0.75rem;

   display: grid;
   grid-template-columns: 1.5rem 1fr 1.5rem;
}

.container > p {
   font-size: 0.875rem;
}

.checked{
   text-decoration: line-through;
}

.normal{
   color: var(--gray-100);
}