.header{
   display: flex;
   gap: 0.75rem;

   padding: 4.5rem 0 5rem;
   justify-content: center;

   background: var(--gray-700);
}

.logo{
   width: 1.375rem;
   height: 2.25rem;
}

.title{
   color: var(--blue);
   font-weight: 800;
}

.title span{
   color: var(--purple-dark);
}

.page{
   display: grid;
   grid-template-columns: 46rem;

   margin-bottom: 3rem;
   justify-content: center;
}

.newTask{
   display: flex;
   gap: 0.5rem;
   margin-top: -1.75rem;
}

.tasks{
   display: flex;
   flex-direction: column;

   gap: 1.5rem;
   margin-top: 4rem;
}

.info{
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.created{
   display: flex;
   align-items: center;

   gap: 0.5rem;

   color: var(--blue);

   font-weight: bold;
   font-size: 0.875rem;
}

.counter{
   font-size: 0.75rem;
   border-radius: 999px;

   color: var(--gray-200);
   background: var(--gray-400);

   padding: 0 0.65rem;
}

.done{
   display: flex;
   align-items: center;

   gap: 0.5rem;

   color: var(--purple);

   font-weight: bold;
   font-size: 0.875rem;
}

.empty{
   display: flex;
   flex-direction: column;

   gap: 1rem;

   align-items: center;
   padding: 4rem 1.5rem;

   border-top: 1px solid var(--gray-400);
}

.text{
   display: flex;
   flex-direction: column;
}

.tasksList{
   display: flex;
   flex-direction: column;
   
   gap: 0.75rem;
}

@media (max-width: 768px){
   html{
      font-size: 87.5%;
   }

   .page{
      padding: 0 1.25rem;
      grid-template-columns: 1fr;
   }
}